* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #171717;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #d11f25;
}

h3 {
  font-size: 36px;
  letter-spacing: 2px;
  color: black;
}
h3span {
  font-size: 36px;
  color: #ea212e;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  border: none;
}

a,
button {
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #ea212e;
  border-radius: 4px;
  padding: 8px 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #ea212e;
  cursor: pointer;
  transition: all 0.4s ease;
}
a:hover,
button:hover {
  background-color: #ea212e;
  color: #fff;
}

header {
  min-height: 5vh;
  border-bottom: 2px solid #d11f25;
}
header nav {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
header nav .logo-link {
  border: none;
}
header nav .logo-link:hover {
  background-color: transparent;
}
header nav #logo {
  width: 150px;
  object-fit: contain;
}

.exercise-wrapper {
  position: relative;
  padding: 48px 0px;
}
.exercise-wrapper .functionality,
.exercise-wrapper .tip,
.exercise-wrapper .score {
  padding-top: 16px;
}
@media (max-width: 520px) {
  .exercise-wrapper .functionality,
.exercise-wrapper .tip,
.exercise-wrapper .score {
    padding-top: 10px;
  }
}
@media (max-width: 520px) {
  .exercise-wrapper .copy .exercise-title {
    text-align: center;
    font-size: 40px;
    padding: 0px 20px;
  }
}
@media (max-width: 320px) {
  .exercise-wrapper .copy .exercise-title {
    font-size: 32px;
    padding: 0px 10px;
  }
}
.exercise-wrapper .image .exercice-img {
  margin: 0 auto;
}
.exercise-wrapper .tip {
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  max-width: 700px;
}
@media (max-width: 320px) {
  .exercise-wrapper .tip {
    font-size: 14px;
  }
}
.exercise-wrapper .functionality .point-btn {
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #ea212e;
  border-radius: 4px;
  padding: 8px 30px;
  margin-left: 8px;
  background-color: #fff;
  color: #ea212e;
  cursor: pointer;
  transition: all 0.4s ease;
}
.exercise-wrapper .functionality .point-btn:hover {
  background-color: #ea212e;
  color: #fff;
}
@media (max-width: 520px) {
  .exercise-wrapper .functionality .point-btn {
    padding: 5px 15px;
  }
}
@media (max-width: 370px) {
  .exercise-wrapper .functionality .point-btn {
    padding: 5px 10px;
  }
}
.exercise-wrapper .functionality .point-btn h2 {
  color: black;
  margin-bottom: 5px;
}
@media (max-width: 520px) {
  .exercise-wrapper .functionality .point-btn h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }
}
@media (max-width: 370px) {
  .exercise-wrapper .functionality .point-btn h2 {
    font-size: 16px;
  }
}
.exercise-wrapper .functionality .point-btn span {
  font-size: 16px;
}
@media (max-width: 520px) {
  .exercise-wrapper .functionality .point-btn span {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .exercise-wrapper .functionality .point-btn span {
    font-size: 12px;
  }
}
.exercise-wrapper .functionality .point-btn1:disabled,
.exercise-wrapper .functionality .point-btn2:disabled,
.exercise-wrapper .functionality .point-btn3:disabled {
  background-color: #cdcccb;
  color: #fff;
  cursor: not-allowed;
}
.exercise-wrapper .score-card {
  padding-bottom: 20px;
  padding-top: 10px;
}
.exercise-wrapper .score-card span {
  color: #d11f25;
}
@media (max-width: 768px) {
  .exercise-wrapper .exercise-navigation {
    flex-direction: column;
  }
}
.exercise-wrapper .exercise-navigation .exercise-btn {
  background-color: #ea212e;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.exercise-wrapper .exercise-navigation .exercise-btn:hover {
  background-color: white;
  color: #ea212e;
}
.exercise-wrapper .exercise-navigation .exercise-btn:disabled {
  background-color: #cdcccb;
  color: #fff;
  cursor: not-allowed;
}
.exercise-wrapper .exercise-navigation .results-btn {
  background-color: #02694c;
  border: 1px solid #02694c;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.exercise-wrapper .exercise-navigation .results-btn:hover {
  background-color: #fff;
  color: #02694c;
}

footer {
  background-color: #cdcccb;
  padding: 48px;
}
footer .footer-wrapper img {
  width: 150px;
  object-fit: contain;
}
footer .footer-wrapper ul li {
  list-style: none;
  margin-right: 10px;
  transition: all 0.4s ease;
}
footer .footer-wrapper ul li:hover {
  transform: translateY(-5px);
}
footer .footer-wrapper ul li a {
  border: none;
  background-color: transparent;
}
footer .footer-wrapper ul li a img {
  width: 35px;
}
footer .footer-wrapper .copy p {
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}/*# sourceMappingURL=style.css.map */